<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<div class="expert_section">
  <div class="container page-width">
    <div class="mainheading">Endorsement Experts</div>
    <div class="swiper expertslider expert-slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="expert_main_box">
             <div class="expert_content_box">
                <div class="expert_name">
                    Dr. Ana
                </div>
                <div class="expert_d">
                    dermatologists
                </div>
                <div class="expert_p">
                    "Theravivo LED Mask is a groundbreaking skincare innovation that leverages the power of light therapy to rejuvenate the skin at a cellular level, offering a non-invasive solution to various skin concerns."
                </div>
                <div class="expert_img">
                    <img src="https://cdn.shopify.com/s/files/1/0826/8857/3779/files/Ellipse_5.png?v=1723630598" class="expert-img" alt="">
                </div>
             </div>
          </div>
        </div>
        <div class="swiper-slide">
           <div class="expert_main_box">
             <div class="expert_content_box">
                <div class="expert_name">
                    Dr. Ana
                </div>
                <div class="expert_d">
                    dermatologists
                </div>
                <div class="expert_p">
                    "Theravivo LED Mask is a groundbreaking skincare innovation that leverages the power of light therapy to rejuvenate the skin at a cellular level, offering a non-invasive solution to various skin concerns."
                </div>
                <div class="expert_img">
                    <img src="https://cdn.shopify.com/s/files/1/0826/8857/3779/files/Ellipse_5.png?v=1723630598" class="expert-img" alt="">
                </div>
             </div>
          </div>
        </div>
        <div class="swiper-slide">
           <div class="expert_main_box">
             <div class="expert_content_box">
                <div class="expert_name">
                    Dr. Ana
                </div>
                <div class="expert_d">
                    dermatologists
                </div>
                <div class="expert_p">
                    "Theravivo LED Mask is a groundbreaking skincare innovation that leverages the power of light therapy to rejuvenate the skin at a cellular level, offering a non-invasive solution to various skin concerns."
                </div>
                <div class="expert_img">
                    <img src="https://cdn.shopify.com/s/files/1/0826/8857/3779/files/Ellipse_5.png?v=1723630598" class="expert-img" alt="">
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "expert Section",
  "settings": [],
  "presets": [
    {
      "name": "expert Section"
    }
  ]
}
{% endschema %}

<style>
  .expert_section {
    padding: 80px;
    background: rgb(239, 237, 233);
    background: linear-gradient(180deg, rgba(239, 237, 233, 1) 47%, rgba(255, 255, 255, 1) 100%);
  }
  .mainheading {
    text-align: center;
    color: #00071e;
    font-size: 48px;
    font-weight: bold;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.expert-slide{
    padding-top: 70px;
}
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  .expert_content_box{
    background-image:url( https://cdn.shopify.com/s/files/1/0826/8857/3779/files/Group_20_c650b156-5b87-4868-bf9c-68b5a71b4235.png?v=1723630575);
    overflow: hidden;
    border-radius: 25px;
    padding: 20px;
    padding-top: 70px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 1px solid #fff;
    transition: all 0.7s;
  }
  .expert_content_box:hover{
    border: 1px solid #000;
  }
  .expert_content_box .expert-img{
       position: absolute;
       top: -19%;
       left: 32%;
       right: 32%;
  }
  .expert_name{
      font-size: 24px;
      font-weight: 600;
      color: #00071E;
      line-height: normal;
  }
  .expert_d{
    font-size: 18px;
      font-weight: 600;
      color: #00071E;
    margin-bottom: 15px;
  }
  .expert_p{
    font-size: 20px;
      font-weight: 400;
      color: #00071E;
      line-height: 27px;
  }
</style>

<script>
  var swiper = new Swiper('.expertslider', {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      375: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      649: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      991: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      1000: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      1200: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1300: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
  });
</script>
