<div class="shogun-root" data-shogun-id="66b0d86235277305478c527d" data-shogun-site-id="dcaae965-c8ae-45dc-bf2a-a0a79f359b5e" data-shogun-section-id="66b0d86235277305478c527d" data-shogun-section-version-id="66b0d8b08b2786b0148b620c" data-shogun-platform-type="shopify" data-shogun-variant-id="66b0d8b08b2786b0148b625c" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-07-17-3119/66b0d8b08b2786b0148b620c_66b0d8b08b2786b0148b625c.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Serif+Caption:normal|Open+Sans:|Open+Sans:400|Assistant:400"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-07-31-1604/global-assets-1a7961dba42b6b721a47e5cd0f9d588ee656ba91.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-27455bea-1aec-48fd-86e0-58dded845cf5"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-2e4ae4a5-d5d2-4672-a3e6-a72e4d96e4d8"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-7 shg-c-md-7 shg-c-sm-7 shg-c-xs-12"><div id="s-d758356a-cec8-498a-8bd1-ba0c9b1268c8" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h1> My first Baner </h1> </div> </div> <div id="s-a8a31a8b-4fd7-4a90-92e6-92347ea05da3" class="shg-c "> <div class="shg-rich-text shg-default-text-content"><p style="text-align: left; color: #8b4513;"><span style="font-family: 'Open Sans'; color: rgb(43, 63, 88); font-weight: 600;" data-fontfamily="Open Sans" data-fontweight="600">Discover the latest in autumnal fashion. Our Fall Collection offers a range of warm, stylish, and comfortable clothing perfect for the season. Don't let the chill dampen your style.</span></p></div> </div> <div id="s-7b947ecc-81f1-4c32-bdd4-b13226c69169-root" class="shg-c shg-btn-wrapper shg-align-left"> <a id="s-7b947ecc-81f1-4c32-bdd4-b13226c69169" class="shg-btn shg-cse shg-btn-text " href=""> Shop the Fall Collection </a> </div> </div> <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12"></div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Header - V0.1",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=66b0d86235277305478c527d&shop=theravivo.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Header - V0.1",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
