
@font-face {
    font-family: "Alinea Incise W01 Regular";
    src: url("https://cdn.shopify.com/s/files/1/0826/8857/3779/files/dacf293f8c5019e3f9c8191c483ac33d.woff2?v=1723780139")format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0826/8857/3779/files/dacf293f8c5019e3f9c8191c483ac33d.woff?v=1723780140")format("woff");
}
:root {
--black1: #00071e;
--white1: #ffffff;
}
.black1{
    color: var(--black1);
}
.white1{
    color: var(--white1) !important;
}
.mainheading{
    font-family: "Alinea Incise W01 Regular";
    text-align:center;
    font-size: 48px;
    font-weight: bold;
    line-height: 47px;
    margin-bottom: 15px;
}   
.main-subheading{
    font-family: Poppins;
    color:#4B4B4B;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}
.mt-70{
    margin-top: 70px;
}
.mt-10{
    margin-top: 10px;
}
.m-10{
    margin: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-50{
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .mainheading{
        font-size: 26px !important;
        line-height: 27px;
    }
    .main-subheading{
        font-size: 16px;
        line-height: 20px;
    }
}